spring.application.name=protectedapp

server.port = 8082
spring.datasource.username = postgres
spring.datasource.password = duaSHKH229
spring.datasource.url= jdbc:postgresql://localhost:5432/security
spring.datasource.driver-class-name = org.postgresql.Driver

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto = update


